.root {
    height: 100%;
    display: grid;
    grid-template-columns: auto min-content;
    grid-template-areas: "m d";
    overflow: hidden;
}

.main {
    height: 100%;
    grid-area: m;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    overflow: auto;
}

.body {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    padding: var(--kui-space-m);
    backdrop-filter: blur(10px);
    z-index: 1;
}

.content {
    padding: var(--kui-space-xs);
}

.footer {
    position: sticky;
    bottom: 0;
    padding: var(--kui-space-m);
    backdrop-filter: blur(10px);
    z-index: 1;
}

.empty {
    margin: auto;
}