.sidebar {
    padding: var(--ui-space-s) var(--ui-space-xs);
    display: flex;
    flex-direction: column;
    gap: var(--ui-space-s);

    a {
        text-decoration: none;
        color: inherit;
    }
}