.root {
    display: flex;
    flex-wrap: wrap;
    gap: var(--ui-space-xxs);
}

.input {
    font-family: var(--ui-font-family);
    flex: 1 0 auto;
    border: none;
    background: none;
    outline: none;
}