@use 'pkg:@olegpolyakov/ui/styles/media';

.root {
    height: 100%;
    display: flex;
}

.main {
    height: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--ui-space-m);

    .menu {
        @include media.from(m) {
            display: none;
        }
    }

    @include media.to(m) {
        gap: var(--ui-space-m);
        display: grid;
        grid-template-columns: auto;
        grid-template-areas:
            'h a'
            't t';

        .heading {
            grid-area: h;
        }

        .tabs {
            grid-area: t;
        }

        .actions {
            grid-area: a;
            justify-content: flex-end;
        }
    }
}

.body {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: var(--ui-space-m);
    padding: var(--ui-space-m);
    overflow: hidden;
}